@model FP.CORE.Models.FP_ROLE
@{
    ViewBag.Title = "編輯角色";
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">編輯角色項目</h1>
    </div>
</div>
@using (Html.BeginForm("EditPost", "Role", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>角色代碼</label>
                @Html.TextBoxFor(m => m.ROLECODE, new { @class = "form-control", @maxlength = "2" })
                <p class="help-block">*必填，限二字元</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>角色中文名稱</label>
                @Html.TextBoxFor(m => m.CNAME, new { @class = "form-control", @maxlength = "20" })
                <p class="help-block">*必填</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>角色英文名稱</label>
                @Html.TextBoxFor(m => m.NAME, new { @class = "form-control", @maxlength = "20" })
                <p class="help-block">*必填</p>
            </div>
        </div>

    </div>

    <hr />
    <div class="row">
        <div class="col-md-2">
            <input type="submit" class="btn btn-info" value="新增" />
        </div>
    </div>
    @Html.HiddenFor(m=>m.ID)
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
}





